<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="https://www.pngitem.com/pimgs/m/174-1746763_spring-framework-logo-01-spring-boot-hd-png.png" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		
    <title>Spring boot blog</title>
  </head>
  <body>
      <div th:replace="fragments/header :: header"></div>
	<div class="container">
                <div class="row blog-detail">
                    <h1 th:text="${user.username} + ' \'s Blog'"></h1>
		</div>
            <div  th:each="post: ${posts}">
		<div class="row d-flex flex-column">
			<div class="panel-header py-4 d-flex flex-column">
				<a href="#"><h1 th:text="${post.title}"></h1></a>
                                <small>Created: <span th:text="${#dates.format(post.createDate,'dd-MM-yyyy')}"></span> by</small>
                                <a th:href="@{'/blog/' + ${post.user.username}}"><small th:text="${post.user.username}"></small></a>
			</div>
			<div class="panel-content text-justify pb-2">
				<h3 class=" font-weight-normal " th:text="${post.body}"></h3>
			</div>  
		</div>
                <hr>
            </div>
	</div>
	<!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>
	<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>